
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    background-color: #f9f9f9;
}

tfoot input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #999999;
    color: white;
    text-align: left;
}

td {
    vertical-align: top;
}

table tr:hover {
    background-color: #f5f5f5;
}

#test1 {
    height: 400px; /* Festlegen der maximalen Höhe für die Tabelle */
    overflow-y: auto; /* Fügt eine vertikale Scrollbar hinzu, wenn nötig */
    overflow-x: auto; /* Fügt eine horizontale Scrollbar hinzu, wenn nötig */
    background-color: #fff;
    border: 1px solid #ddd;
}