tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

table, td, th {
    /*table-layout:fixed;*/
    overflow:hidden;
    white-space: nowrap;
    text-overflow: hidden;
    resize:horizontal;
}

#search {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }