
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    background-color: #f9f9f9;
}

tfoot input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #cfcfcfd8;
    color: white;
    text-align: left;
}

td {
    vertical-align: top;
}

table tr:hover {
    background-color: #f5f5f5;
}

#test1 {
    height: 400px; /* Festlegen der maximalen Höhe für die Tabelle */
    overflow-y: auto; /* Fügt eine vertikale Scrollbar hinzu, wenn nötig */
    overflow-x: auto; /* Fügt eine horizontale Scrollbar hinzu, wenn nötig */
    background-color: #fff;
    border: 1px solid #ddd;
}
.tag {
    display: inline-block;
    padding: 2px 4px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
  }

  .clear-button {
    margin-left: 5px;
    cursor: pointer;
  }

  .column-search {
    width: 90%;
}
.ui-resizable-handle {
    cursor: col-resize;
}
td.wrap {
    white-space: pre-wrap;
    word-break: break-all;
}

th.sorting:after,
th.sorting_desc:after,
th.sorting_asc:after {
    color: #292929; 
    font-size: 13x;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}