tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#tree {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 19%;
}

.highlight {
    background-color: yellow; 
  }

#table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 70%;
}

#category {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 10%;
    flex-grow: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%; 
    word-wrap: break-word;
    height: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

div.inline { 
    overflow:scroll; 
    height: 550px;
    display:inline-block;
    margin-right:-4px;
}

div.resizeable {
    resize:horizontal; 
}

button.tablebutton { 
    width: 100%;
    height: 50px;
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color:#ffffff;
    margin-top: 5px;
}   

.wrapper{
    display: flex;
    width: 100%;
}