tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

table, td, th {
    /*table-layout:fixed;*/
    overflow:hidden;
    white-space: nowrap;
    text-overflow: hidden;
}

#tree {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 19%;
}

#table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 60%;
}

#category {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 10%;
    flex-grow: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

div.inline { 
    overflow:scroll; 
    height: 550px;
    display:inline-block;
    margin-right:-4px;
}

div.resizeable {
    resize:horizontal; 
}

button.tablebutton { 
    width: 100%;
    height: 50px;
}   

.wrapper{
    display: flex;
    width: 100%;
}